body {background: #101517;}
header {
    padding: 3rem 2rem 2rem;
    text-align: center;
    background: #fff;
    color: #969696;
    letter-spacing: 2px;
}
header > h1 {
    color: #757575;
    margin: 0 0 0.2em;
}
header > span {
    text-transform: capitalize;
    font-size: 1em;
}
section {position: relative;background:#2e383e;}
section.details {background: #212b30;}
.details ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-justify-content: center;
       -moz-justify-content: center;
            justify-content: center;
    -webkit-align-items: flex-start;
       -moz-align-items: flex-start;
            align-items: flex-start;
    color: rgba(255, 255, 255, 0.4);
    font-size: 16px;
}
.details ul li {
    text-align: center;
    padding: 0 2em;
    width: 33.3333%;
}
.details ul li > i {
    font-size: 4em;
    color: rgba(0,0,0,0.5);
    margin-bottom: 10px;
}
.details ul li > h3 {
    display: block;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 700;
}
.details ul li > span {
    font-size: 1.2em;
    font-weight: 400;
}
section h2 {
    text-align: center;
    color: #fff;
    position: relative;
    margin-bottom: 1em;
    font-size: 1.5em;
    text-transform: uppercase;
    padding-top: 2em;
}
section h2:first-child{
    padding: 0;
}
section > div {
    max-width: 990px;
    margin: 0 auto;
}
footer {
    text-align: center;
    font-size: 1.1em;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}
footer, section {
    padding: 5rem 2rem;
}
footer > a {display: inline-block;opacity: 0.7;}
footer > a > img {vertical-align: top;}

@media only screen and (max-width: 730px) {
footer, section {padding: 3rem 2rem;}
.details ul {font-size: 14px;}
}

@media only screen and (max-width: 600px) {
footer, section {padding: 3rem 1rem;}
}